<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DnD AI</title>
        <link rel="stylesheet" type="text/css" href="static/css/game.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
        rel="stylesheet"
        />
        <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js" crossorigin="anonymous"></script>
        <script src="/static/js/loading.js"></script>
    </head>


    <body class="background" id="font1">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>


    <footer>
        <div>Contact us</div>
        <div>Number</div>
    </footer>
</html>