body {
    display: flex;       /* Usa Flexbox */
    flex-direction: column; /* Orientación vertical */
    min-height: 97vh;   /* Asegura que el cuerpo tenga al menos la altura de la ventana */
}

.container {
    flex: 1;            /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

hr {
    flex: none; /* Anula el comportamiento de flexión */
    height: 0px; /* O la altura que desees */
    width: 100%; /* O el ancho que desees */
}

footer {
    text-align: center;
    width: 100%;
}