html {
  height: 100%;
  width: 100%;
  margin: auto;
}

a {
  outline: none;
  text-decoration: none;
  color: grey;
}

a:hover {
  border-style: solid;
  border-bottom-width: 10px;
  border: #000000;
  color: white;
}

.background {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #212529;
  color: white;
}

.logo {grid-area: logo;}

.about {
  grid-area: about;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.wiki {
  grid-area: wiki;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.text {grid-area: text;}

.player {grid-area: player;}

.weapon {grid-area: weapon;}

.action {grid-area: action;}

.lvl {grid-area: lvl;}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template:
    'logo logo logo logo about wiki'
    'text text text text player weapon'
    'action action action action player weapon'
    'lvl lvl lvl lvl lvl lvl';
}

.history {
  height: 400px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 1%;
  overflow-y: auto;
  font-size: 20px;
}

.history::-webkit-scrollbar {
  display: none;
}

.txtAction {
  border-style: none;
  border-radius: 10px;
  height: 40px;
  width: 77.8%;
}

.btnAction {
  width: 19%;
  border-style: none;
  border-radius: 10px;
  height: 40px;
  background-color: #D62828;
  color: white;
}

#font1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

#font2 {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

/*
  brown #462e2e
  red #ff6f6f
  
  god ones:
    black: #333333
    red: #D62828
    grey: #8DA1B9
    #454c54
    #212529
    brown: #BCA371
    green: #21D19F
*/