.background {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #212529;
    color: white;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
      'logo logo logo logo about wiki'
      'map map text text player weapon'
      'map map text text target target'
      'action action action action target target'
      'lvl lvl lvl lvl lvl lvl';
    
}

.container {
    margin-top: 200px;
    padding-top: 0px;
}

.content {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btnNC {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D62828;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

.btnSC {
    display: inline-block;
    padding: 10px 20px;
    background-color: forestgreen;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
}

.btn:last-child {
    margin-right: 0;
}

.wiki {
    grid-area: wiki;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #D62828;
}

#font1 {
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
  }
  
#font2 {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}
  