{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- no tienes que crear body, ya está definido en la template -->
    <div style="text-align: center;">
        <h1>About</h1>
        <h4>Who were the creators of this wonderful world?</h4>
    </div>
    <br>
    
    <div>DnD AI is a comprehensive game assistant service for Dungeons and Dragons players. It not only features a grid-based map for real-time tracking and enables players to move characters and perform actions using text-based inputs in natural language, but also assists in creating the storyline, designing characters and their abilities, and managing enemies similar to a dungeon master's role, also enhancing the experience with AI-generated character icon and scene images.</div>
    <br>
    
    <div>Is a service for role-like games players who has to take care of the management and creation of the game by themselves, usually manually. It is called 'DnD AI' and is a game assistant that benefits Dungeons and Dragons players and other games alike. Unlike 'AI Dungeon' our service not only take care of the creation of the world and characters information by text input but also uses AI to improve the experience by generating images of the characters and scenes of the story. Our service also has an integrated grid-based map to see the players and monsters ubication in any time.</div>
    <br>
    
    <h3>Elevator Pitch (Spanish)</h3>
    <br>
    
    <div>Al año se crean 10 millones de partidas de Dungeons and Dragons, ¿pero sabías que más de la mitad de estas no pueden llevarse a cabo por falta de un Dungeon Master?, Dungeons and Dragons es un juego que depende completamente de la imaginación de sus jugadores, y entre ellos, el Dungeon Master es quien crea la historia que van a seguir los jugadores, crea los personajes, sus habilidades, los monstruos, mapas e ítems, es el corazón del juego, dependemos demasiado de él, y no siempre hay alguien que se anime a hacer el trabajo.</div>
    <br>
    
    <div>Qué tal si lo reemplazáramos con una inteligencia artificial que está disponible en todo momento?, que te permita a tí y a tus amigos jugar una partida de calidad cuando quieran, que genere el mapa y los enemigos automáticamente. Eso somos nosotros, DnD-AI, y queremos ofrecerte esta nueva forma de jugar. Mucho más enfocada al juego inmediato y con un ritmo más rápido.</div>
    <br>
    
    <div>A diferencia de ideas parecidas, tenemos varias mejoras visuales, como son la visualización del mapa en tiempo real y la generación de imágenes para las escenas épicas que hasta ahora sólo te podías imaginar.</div>
    <br>
    
    <h3>Elevator Pitch (English)</h3>
    <br>
    
    <div>Each year, 10 million Dungeons and Dragons sessions are created, but did you know that more than half of these cannot take place due to a lack of a Dungeon Master? Dungeons and Dragons is a game that relies entirely on the imagination of its players, and among them, the Dungeon Master is the one who creates the story the players will follow, develops characters, their abilities, monsters, maps, and items – essentially, the heart of the game. We depend heavily on them, and there isn't always someone willing to take on the role.</div>
    <br>
    
    <div>What if we replaced them with an artificial intelligence that is available at all times? One that allows you and your friends to play a quality session whenever you want, generating the map and enemies automatically. That's us, DnD-AI, and we want to offer you this new way of playing – much more focused on immediate gameplay and with a faster pace.</div>
    <br>
    
    <div>Unlike similar ideas, we have various visual enhancements, such as real-time map visualization and the generation of images for the epic scenes that, until now, you could only imagine.</div>
    <br>

    <hr>

    <p>Our repo: <a href="https://github.com/QuitoTactico/DnD-AI">https://github.com/QuitoTactico/DnD-AI</a></p>

    <p>Our wiki: <a href="https://github.com/QuitoTactico/DnD-AI/wiki">https://github.com/QuitoTactico/DnD-AI/wiki</a></p>

    <p>Our project/backlog: <a href="https://github.com/users/QuitoTactico/projects/1">https://github.com/users/QuitoTactico/projects/1</a></p>

    <br>
    
    <h3>Created by:</h3>
    <ul>
        <li>Esteban Vergara Giraldo</li>
        <li>Miguel Angel Cock Cano</li>
        <li>Sebastian Salazar Osorio</li>
    </ul>
    <br>
    
    <h4>For the EAFIT course: Integrator project 1</h4>
    <hr>
    <a href="https://github.com/QuitoTactico/DnD-AI/issues/new/choose"><h4>If you have some feedback, feel free to help DnD-AI to grow!</h4></a>
{% endblock content %}
