<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
    rel="stylesheet"
/>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link rel="stylesheet" type="text/css" href="static/css/selection.css" />

<body class="background" id="font1">
    <h1>Campaign Selection</h1>

    <hr>
    
    {% for campaign in campaigns %}
    <div class="campaign">
        <h2>{{ campaign.name }}</h2>

        <form action="{% url 'playerSelection' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
            <button type="submit" class="btnAction">
                <i style="font-size: 60px;" class="fa-solid fa-play"></i>
            </button>
        </form>
    </div>
    <br>
    {% endfor %}
    
    <hr>
    <form action="{% url 'campaignCreation' %}" method="post">
    {% csrf_token %}
        <button type="submit" class="btnActionWide">
            <h2 id="font1">Create New Campaign!</h2>
        </button>
    </form>
</body>