<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
		href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
		rel="stylesheet"
/>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.4.0.min.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link href="static/css/campaigncreation.css" rel="stylesheet" type="text/css" />

<body class="background" id="font1">
		<h1>Campaign Creation</h1>

		<hr>

		<form action="{% url 'campaignSelection' %}" method="post">
		{% csrf_token %}
				<h2>Choose an epic name</h2>
				<input class="textInput" id="font2" type="text" name="name" placeholder="Write the name of your campaign.">
			
				<hr>
			
				<h2>Choose a initial story</h2>
				<div class="initialStory">
						{% for initial_story in initial_stories %}
								<div class="story">
										<h3>{{ initial_story|safe }}</h3>
										<input type="radio" name="initial_story" value="{{ initial_story }}" />
								</div>
						{% endfor %}
				</div>
			
				<br>
				<input type="hidden" name="campaign_id" value="{{ campaign.id }}">
				<input type="hidden" name="create_campaign" value="True">
				<input class="btnSubmit" id="font1" type="submit" value="Create campaign">
			
		</form>

        <hr>
		<form action="{% url 'campaignCreation' %}" method="post">
		{% csrf_token %}
				<input class="textInput" id="font2" type="text" name="prompt" placeholder="Do you want a specific kind of stories?">
                <br> <br>
				<input class="btnSubmit" id="font1" type="submit" value="Create your own story, if you dare...">
		</form>

</body>

<!--
<body>
    <h1>campaignCreation</h1>

    <hr>

    <form action="{% url 'campaignSelection' %}" method="post">
    {% csrf_token %}

        <input type="text" name="name" placeholder="Write the name of your campaign.">

        <h2>Choose a initial story</h2>
        {% for initial_story in initial_stories %}
            <h3>{{ initial_story }}</h3>
            <input type="radio" name="initial_story" value="{{ initial_story }}" />
            <hr>
        {% endfor %}

        <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
        <input type="hidden" name="create_campaign" value="True">
        <input type="submit" value="Create campaign">
    </form>

    <form action="{% url 'campaignCreation' %}" method="post">
    {% csrf_token %}
        <input type="text" name="prompt" placeholder="Do you want a specific kind of stories?">
        <input type="submit" value="Create another three initial story options">
    </form>

    

</body>
-->

<!--
    <a href="{% url 'campaignSelection' %}">[Create Campaign]</a>
-->