{% extends "base.html" %}

{% load static %}

{% block css %}
    <link href="{% static 'css/campaigncreation.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}

    <div id="overlay">
        <div id="loading-popup">
            <p>Creating new initial stories...</p>
        </div>
    </div>

	<div style="text-align: center;">
        <h1>Campaign Creation</h1>
        <h4>Create your own story, if you dare...</h4>
    </div>
    <br>
    
	<form action="{% url 'campaignSelection' %}" method="post" id="campaigninfo">
	{% csrf_token %}

		<h2>1. Choose an epic name</h2>
		<input class="textInput" id="font2" type="text" name="name" placeholder="Write the name of your campaign." autocomplete="off" required>
	
		<br>
	
		<h2>2. Choose a initial story</h2>
		<div class="initialStory">
			{% for initial_story in initial_stories %}
                <div class="story">
                    <label>
                        <h2 id="font2">{{ initial_story|safe }}</h2>
                        <input type="radio" name="initial_story" value="{{ initial_story }}" 
                        {% if forloop.first %}required{% endif %}/>
                    </label>
                </div>
			{% endfor %}
		</div>
            
        <br>

        <h2>3. Set the map dimensions</h2>
        <div>
            <div class="mapDimensions">
                <div class="mapDimension">
                    <input class="textInput" id="font2" type="number" name="size_x" placeholder="Width" min="50" max="300" step="1" required> 
                </div>
                <div class="mapX">
                    <h3>&nbsp; x</h3>
                </div>
                <div class="mapDimension">
                    <input class="textInput" id="font2" type="number" name="size_y" placeholder="Height" min="50" max="300" step="1" required>
            </div>
        </div>

		<br>

        <h2>4. That's all!</h2>
		<input type="hidden" name="create_campaign" value="True">
		<input class="btnSubmit" id="font1" type="submit" value="Create campaign!" onclick="loading('Creating campaign, this may take a while','campaignselection','campaigninfo')">
		
	</form>
        
    <br><br><hr><br>

    <h4>But if you didn't like those stories...</h4>
	<form action="{% url 'campaignCreation' %}" method="post">
	{% csrf_token %}
		<input class="textInput" id="font2" type="text" name="prompt" placeholder="Do you want a specific kind of stories?" autocomplete="off">

        <br><br>

		<input class="btnSubmit" id="font1" type="submit" value="Change the topics of the initial stories" onclick="loading('Creating new initial stories')">
	</form>
    <br>
{% endblock content %}