{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock css %}

{% block content %}
    <!-- Overlay -->
    <div id="overlay">
        <div id="loading-popup">
            <p>Loading...</p>
        </div>
    </div>

    <!-- Grid Container -->
    <div class="grid-container">

        <!-- History -->
        <h1 class="text">HISTORY</h1>

        <!-- Map -->
        <div class="map">
            {{ map_div|safe }}
            {{ map_script|safe }}
        </div>

        <br />

        <!-- Text History -->
        <div class="history text" id="font2">
            {% for entry in text_history %}
                {% if entry.is_image %}
                    <div class="text-center" style="width: 100%;">
                        <img class="text-center" src="{{ entry.text }}" style="display: block; margin: auto; width: 95%;" />
                    </div>
                {% else %}
                    <div style="color: {% if player.name == entry.author %}green{% else %}{{ entry.color }}{% endif %}">
                        <p>{{ entry.author }}: {{ entry.text|safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br />

        <!-- Player -->
        <div class="player">
            <h3>{{ player.name }}</h3>

            <img src="{{ player.image.url }}" width="150" height="150" />

            <div>HP: {{ player.health }}/{{ player.max_health }}</div>
            <div>STR: {{ player.strength }}</div>
            <div>INT: {{ player.intelligence }}</div>
            <div>DEX: {{ player.dexterity }}</div>
            <div>RACE: {{ player.character_race }}</div>
        </div>

        <!-- Weapon -->
        <div class="weapon">
            <h3>{{ player.weapon.name }}{{ weapon_lvl_label }}</h3>

            <img src="{{ player.weapon.image.url }}" width="150" height="150" />

            <div>DMG: {{ player.weapon.damage }}</div>
            <div>RNG: {{ player.weapon.range }}</div>
            <div>
                RES:
                <span style="color: orange">{{ player.physical_resistance }}</span>
                /<span style="color: cyan">{{ player.magical_resistance }}</span>
            </div>
            <div>CON: {{ player.constitution }}</div>
            <div>CLASS: {{ player.character_class }}</div>
        </div>

        <!-- Target -->
        {% if target %}
            <div class="target">
                {{ target.name }}
                <img src="{{ target.icon.url }}" width="150" height="150" />
            </div>
        {% endif %}

        <!-- Action -->
        <div class="action">
            <form action="{% url 'game' %}" method="post">
                {% csrf_token %}
                <label class="" for="action">What do you want to do:</label>
                <br />
                <br />
                <input id="font1" class="txtAction" type="text" name="prompt" placeholder="Its time to do it" />
                <input type="hidden" name="campaign_id" value="{{ campaign_id }}" />
                <input type="hidden" name="player_name" value="{{ player.name }}" />
                {% if target %}<input type="hidden" name="target_id" value="{{ target.id }}" />{% endif %}
                <input id="font1" class="btnAction" type="submit" value="Act" onclick="loading('Loading','game')" />
            </form>
        </div>

        <!-- Level -->
        <div class="lvl">
            <div class="number">LVL: {{ player.level }}</div>
            <div class="experience">EXP: {{ player.exp }}</div>
            <div class="maxExperience">EXP TOP: {{ player.exp_top }}</div>
        </div>
    </div>

    <hr>

    <!-- Test Form -->
    <form action="{% url 'game' %}" method="post">
        {% csrf_token %}

        <input type="text" name="player_name" placeholder="Player Name" />
        <input type="text" name="target_id" placeholder="Target ID">
        Test Page<input type="checkbox" id="test" name="test" />
        Roll Dice<input type="checkbox" id="dice_needed" name="dice_needed" />

        <input type="hidden" name="campaign_id" value="{{ campaign_id }}" />

        <input type="submit" value="Submit" />
    </form>

    <script src="{% static 'js/scrollHistory.js' %}"></script>

{% endblock content %}