{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
{% endblock css %}

{% block content %}
    <!-- Overlay -->
    <div id="overlay">
        <div id="loading-popup">
            <p>Loading...</p>
        </div>
    </div>

    <!-- Grid Container -->
    <div class="grid-container">

        <!-- History -->
        <h1 class="text">HISTORY</h1>

        <!-- Map -->
        <div class="map">
            {{ map_div|safe }}
            {{ map_script|safe }}
        </div>

        <br />

        <!-- Text History -->
        <div class="history text" id="font2">
            {% for entry in text_history %}
                {% if entry.is_image %}
                    <div class="text-center" style="width: 100%;">
                        <img class="text-center" src="{{ entry.text }}" style="display: block; margin: auto; width: 95%;" />
                    </div>
                {% else %}
                    <div style="color: {% if player.name == entry.author %}green{% else %}{{ entry.color }}{% endif %}">
                        <!--<p><span style="text-decoration:underline">{{ entry.author }}</span>: {{ entry.text|safe }}</p>-->
                        <p>{{ entry.author }}: {{ entry.text|safe }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <br />

        <!-- Player -->
        <div class="player">
            <div style="margin:0px">
                <h3 class="text_animation">{{ player.name }}</h3>
            </div>

            <img src="{{ player.image.url }}" width="150" height="150" style="border-radius: 10px"/>

            <div>{{ player.character_race }}{% if player.character_class != player.character_race %} {{ player.character_class }}{% endif %}</div>
            
            <div>HP: &nbsp;{% if player.health < 10 %}<span class="blink" style="color: #FF4444">{{ player.health }}</span>{% else %}{{ player.health }}{% endif %}/{{ player.max_health }}</div>

            <div>
                RES:
                <span style="color: orange">{{ player.physical_resistance }}</span>/<span style="color: cyan">{{ player.magical_resistance }}</span>
            </div>
            
            <div>DEX: {{ player.dexterity }}</div>
        </div>

        <!-- Weapon -->
        <div class="weapon">
            <div style="margin:0px">
                <h3 class="text_animation">{{ player.weapon.name }}{{ weapon_lvl_label }}</h3>
            </div>

            <img src="{{ player.weapon.image.url }}" width="150" height="150" style="border-radius: 10px"/>

            <div>STR: {{ player.strength }}</div>
            <div>INT: {{ player.intelligence }}</div>

            <div>
                DMG:
                {% if player.weapon.damage_type == "Physical" %}
                    <span style="color: orange">{{ player.weapon.damage }}</span>
                {% else %}
                    <span style="color: cyan">{{ player.weapon.damage }}</span>
                {% endif %}
            </div>

            <div>
                RNG: {{ player.weapon.range }}{% if player.weapon.range_level_points != 0 %}<span style="color:gray">+{{ player.weapon.range_level_points}}P</span> {% endif %}
            </div>
        </div>

        <!-- Target -->
        {% if target %}
            <!-- Target info -->
            <div class="target">
                <div style="margin:0px">
                    <h3 class="text_animation">{{ target.name }}</h3>
                </div>

                <div>{{ target.monster_race }}{% if target.monster_class != target.monster_race %} {{ target.monster_class }}{% endif %}</div>

                <div>HP: &nbsp;{% if target.health < 10 %}<span class="blink" style="color: #FF4444">{{ target.health }}</span>{% else %}{{ target.health }}{% endif %}/{{ target.max_health }}</div>
                
                <div>
                    RES:
                    <span style="color: orange">{{ target.physical_resistance }}</span>/<span style="color: cyan">{{ target.magical_resistance }}</span>
                </div>

                <div>DEX: {{ target.dexterity }}</div>

                <div>
                    DMG:
                    {% if target.weapon.damage_type == "Physical" %}
                        <span style="color: orange">{{ target.weapon.damage }}</span>
                    {% else %}
                        <span style="color: cyan">{{ target.weapon.damage }}</span>
                    {% endif %}
                </div>

                <div>RNG: {{ target.weapon.range }}</div>
            </div>

            <!-- Target icon -->
            <div class="targeticon">
                <img src="{{ target.icon.url }}" width="150" height="150" style="border-radius: 10px"/>
            </div>
        {% else %}
            <!-- Target icon -->
        {% endif %}

        <!-- Action -->
        <div class="action">
            <form action="{% url 'game' %}" method="post" id="actionForm">
                {% csrf_token %}
                
                <input class="txtAction" type="text" name="prompt" placeholder="What do you want to do?" id="promptInput" autocomplete="off"/>

                <input id="font1" class="btnAction" type="submit" value="Act" onclick="loading('Loading','game','actionForm')" />

                <input type="hidden" name="campaign_id" value="{{ campaign_id }}" />

                <input type="hidden" name="player_name" value="{{ player.name }}" />
                {% if target %}<input type="hidden" name="target_id" value="{{ target.id }}" />{% endif %}
            </form>
        </div>

        <!-- Level -->
        <div class="lvl">
            {% if exp_bar == 100 %}<div class="experience-bar levelup-animation" style="width: {{ exp_bar }}%;">{% else %}<div class="experience-bar" style="width: {{ exp_bar }}%;">{% endif %}
                <div class="experience-text">EXP:{{ player.exp }}/{{ player.exp_top }}</div>
            </div>
            <div class="level">LVL:{{ player.level }}</div>
        </div>
    </div>

    <!--

    <hr>

    <form action="{% url 'game' %}" method="post">
        {% csrf_token %}

        <input type="text" name="player_name" placeholder="Player Name" />
        <input type="text" name="target_id" placeholder="Target ID">
        Test Page<input type="checkbox" id="test" name="test" />
        Roll Dice<input type="checkbox" id="dice_needed" name="dice_needed" />

        <input type="hidden" name="campaign_id" value="{{ campaign_id }}" />

        <input type="submit" value="Submit" />
    </form>

    -->

    <script src="{% static 'js/scrollHistory.js' %}"></script>
    <script src="{% static 'js/overflowAnimation.js' %}" defer></script>
    <script src="{% static 'js/detectKeys.js' %}"></script>

{% endblock content %}