{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- no tienes que crear body, ya está definido en la template -->
    <div style="text-align: center;">
        <h1>Guide</h1>
        <h4>Learn how to be a true hero!</h4>
    </div>
    <br>

    <h2>Use this commands!</h2>
    <br>
    <ul>
        <li>/levelup &lt;stat_or_weaponstat&gt;</li>
        <li>/use &nbsp;&nbsp;&nbsp;&nbsp;&lt;item_name&gt;</li>
        <li>/equip &nbsp;&nbsp;&lt;weapon_name(optional)&gt;</li>
        <li>/take &nbsp;&nbsp;&nbsp;&lt;treasure_name(optional)&gt;</li>
        <li>/attack &nbsp;&lt;target(optional)&gt;</li>
        <li>/move &nbsp;&nbsp;&nbsp;&lt;direction&gt;</li>
        <li>/info &nbsp;&nbsp;&nbsp;&lt;question&gt;</li>
        <li>/see &nbsp;&nbsp;&nbsp;&nbsp;&lt;interest&gt;</li>
        <li>/talk &nbsp;&nbsp;&nbsp;&lt;target(optional)&gt;</li>
        <li>/help</li>
    </ul>

    <br>

    <p>Valid values for:</p>
    <ul>
        <li>stat_or_weaponstat:
            <ul>
                <li>health</li>
                <li>strength</li>
                <li>intelligence</li>
                <li>recursiveness</li>
                <li>dexterity</li>
                <li>phyres</li>
                <li>magres</li>
                <li>constitution</li>
                <li>damage</li>
                <li>range</li>
            </ul>
        </li>
        <br>
        <li>direction:
            <ul>
                <li>up</li>
                <li>down</li>
                <li>left</li>
                <li>right</li>
                <li>upright</li>
                <li>upleft</li>
                <li>downright</li>
                <li>downleft</li>
            </ul>
        </li>
        <br>
        <li>treasure_name:
            <ul>
                <li>gold</li>
                <li>bag</li>
                <li>chest</li>
                <li>key</li>
                <li>weapon</li>
                <li>tombstone</li>
            </ul>
        </li>
        <br>
        <li>target:
            <ul>
                <li>literally any target on range, a monster name</li>
            </ul>
        </li>
        <br>
        <li>weapon_name:
            <ul>
                <li>literally any near weapon</li>
            </ul>
        </li>
        <br>
        <li>question:
            <ul>
                <li>literally any desired information</li>
            </ul>
        </li>
        <br>
        <li>item_name:
            <ul>
                <li>health potion</li>
                <li>go back bone</li>
            </ul>
        </li>
        <br>
        <li>interest:
            <ul>
                <li>inventory</li>
                <li>story</li>
                <li>achievements</li>
                <li>objectives</li>
                <li>turns</li>
                <li>physical_description</li>
            </ul>
        </li>
    </ul>

    <hr>

    <h2>To run <em>(do the pip install if it's your first time running the project):</em></h2>

    <pre>
    pip install -r "requirements.txt"
    python manage.py runserver
    </pre>

    <h2>Software requirements</h2>

    <ul>
    <li>The needed dependencies and libraries defined in requirements.txt. To get them, run <code>pip install -r "requirements.txt"</code></li>
    </ul>

    <h2>AI usage requirements</h2>

    <ul>
    <li>For image generation is needed either a <code>OpenAI API key</code> or a <code>HuggingFace API key</code>.</li>
    <li>For action interpretation, storytelling and campaign's info providing, a <code>Google Gemini API key</code> is needed. OpenAI GPT option will be re-added in the future.</li>
    </ul>

    <p>You can provide this keys either creating a file called <code>api_keys.env</code> on the root dir of the project.</p>

    <pre>
    # api_keys.env
    # on root dir of the project

    openai_api_key = 
    hf_api_key = 
    gemini_api_key = 
    </pre>

    <p>Or a file called <code>API.py</code> on <code>/DnD_AI/</code> (the application, not the project). At the same level of <code>functions_AI.py</code>, the file that uses the api keys.</p>

    <pre>
    # API.py
    # on same folder as /DnD_AI/functions_AI.py

    openai_api_key = " "
    hf_api_key = " "
    gemini_api_key = " "
    </pre>

    <p>In any case, <code>the game is still playable with some (or none) of the API keys</code>. While AI generated images being replaced with placeholder images and action inputs not being interpreted, but supporting the use of commands instead.</p>

{% endblock content %}