{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- no tienes que crear body, ya está definido en la template -->
    <div style="text-align: center;">
        <h1>Guide</h1>
        <h4>Learn how to be a true hero!</h4>
    </div>
    <br>

    <h2>Use this commands!</h2>
    <br>
    <ul>
        <li>/levelup &lt;stat_or_weaponstat&gt;</li>
        <li>/use &nbsp;&nbsp;&nbsp;&nbsp;&lt;item_name&gt;</li>
        <li>/equip &nbsp;&nbsp;&lt;weapon_name(optional)&gt;</li>
        <li>/take &nbsp;&nbsp;&nbsp;&lt;treasure_name(optional)&gt;</li>
        <li>/attack &nbsp;&lt;target(optional)&gt;</li>
        <li>/move &nbsp;&nbsp;&nbsp;&lt;direction&gt;</li>
        <li>/info &nbsp;&nbsp;&nbsp;&lt;question&gt;</li>
        <li>/see &nbsp;&nbsp;&nbsp;&nbsp;&lt;interest&gt;</li>
        <li>/talk &nbsp;&nbsp;&nbsp;&lt;target(optional)&gt;</li>
        <li>/help</li>
    </ul>

    <br>

    <p>Valid values for:</p>
    <ul>
        <li>stat_or_weaponstat:
            <ul>
                <li>health</li>
                <li>strength</li>
                <li>intelligence</li>
                <li>recursiveness</li>
                <li>dexterity</li>
                <li>phyres</li>
                <li>magres</li>
                <li>constitution</li>
                <li>damage</li>
                <li>range</li>
            </ul>
        </li>
        <br>
        <li>direction:
            <ul>
                <li>up</li>
                <li>down</li>
                <li>left</li>
                <li>right</li>
                <li>upright</li>
                <li>upleft</li>
                <li>downright</li>
                <li>downleft</li>
            </ul>
        </li>
        <br>
        <li>treasure_name:
            <ul>
                <li>gold</li>
                <li>bag</li>
                <li>chest</li>
                <li>key</li>
                <li>weapon</li>
                <li>tombstone</li>
            </ul>
        </li>
        <br>
        <li>target:
            <ul>
                <li>literally any target on range, a monster name</li>
            </ul>
        </li>
        <br>
        <li>weapon_name:
            <ul>
                <li>literally any near weapon</li>
            </ul>
        </li>
        <br>
        <li>question:
            <ul>
                <li>literally any desired information</li>
            </ul>
        </li>
        <br>
        <li>item_name:
            <ul>
                <li>health potion</li>
                <li>go back bone</li>
            </ul>
        </li>
        <br>
        <li>interest:
            <ul>
                <li>inventory</li>
                <li>story</li>
                <li>achievements</li>
                <li>objectives</li>
                <li>turns</li>
                <li>physical_description</li>
            </ul>
        </li>
    </ul>
{% endblock content %}