<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DnD AI</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="colorfondo" id="font1">
    <nav class="">
      <div class="">
        <img class="" height="120" src="static/DnD.png" alt="" />
        <img class="" height="120" src="static/attack.png" alt="" />
        <ul class="">
          <li class="">
            <a class="" href="#">Inicio</a>
          </li>
          <li class="">
            <a class="" href="#">Jugar</a>
          </li>
          <li class="">
            <a class="" href="#">Comprar</a>
          </li>
        </ul>
      </div>
    </nav>

    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}

      <input type="text" name="player_name" placeholder="Player Name" />
      <input type="checkbox" id="test" name="test" />
      <input type="checkbox" id="dice_needed" name="dice_needed" />

      <input type="submit" value="Submit" />
    </form>

    <hr />

    <h1 class="">HISTORY</h1>
    <div class="history" id="font2">
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
      <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Necessitatibus, sapiente? Beatae autem soluta modi alias, voluptatibus
        fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic
        neque optio quibusdam.
      </div>
    </div>

    <br />

    <form class="" method="POST">
      {% csrf_token %}
      <label class="" for="action">What do you want to do:</label>
      <input
        class=""
        type="text"
        name="action"
        placeholder="Its time to do it"
      />
      <input class="" type="submit" value="Act" />
    </form>

    <hr />

    <footer>
      <div>Contact us</div>
      <div>Number</div>
    </footer>
  </body>
</html>
