<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD AI</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
        rel="stylesheet">
</head>

<body class="container bg-dark text-white" id="font1">

    <nav class="navbar navbar-expand-sm navbar-dark">
        <div class="container-fluid">
            <img class="navbar-brand" height="120" src="static/DnD.png" alt="">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Jugar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comprar</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr>

    <h1 class="row">HISTORY</h1>
    <div class="history row" id="font2">
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
        <div>asd</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, sapiente? Beatae autem soluta
            modi alias, voluptatibus fugiat ab a mollitia qui laborum quae necessitatibus officia odit hic neque optio
            quibusdam.</div>
        <div>asd</div>
    </div>

    <br>

    <form class="row" action="POST">
        <label class="form-label" for="action">What do you want to do:</label>
        <input class="form-control col" type="text" name="action" placeholder="Its time to do it">
        <input class="btn btn-danger col-3" type="submit" value="Act">
    </form>

    <hr>

    <footer>
        <div>Contact us</div>
        <div>Number</div>
    </footer>

</body>

</html>