{% extends "base.html" %}

{% load static %}

{% block css %}
    <link href="{% static 'css/playercreation.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}

{% block content %}
    <!-- no tienes que crear body, ya está definido en la template -->
    <div id="overlay">
        <div id="loading-popup">
            <p>Creating new player...</p>
        </div>
    </div>

	<div style="text-align: center;">
        <h1>Player Creation</h1>
        <h4>How's the hero who will save the world?</h4>
    </div>
    <br>

    <form action="{% url 'playerSelection' %}" method="post" id="playerinfo">
        {% csrf_token %}
    
        <h2>1. Choose an epic name</h2>
        <input class="textInput" id="font2" type="text" name="name" placeholder="Write the name of your player." required>

        <!-- 
        cuadro rojo redondeado, con hover, se pueden poner muchos en la misma fila 
        quién sabe cómo lo harás, pero se pueden ver muy pequeños si quieres
        ojalá no se vea el circulo de selección, pero si se ve, no importa
        pensaba en si se podía poner un borde rojo alrededor del cuadro seleccionado, pero no sé si se puede
        -->
        <h2>2. Choose it's race</h2>
        {% for race in races %}
        <label>
            <br>
            <img height=50 src="media/entity/icons/default/{{race}}.png" alt="{{ race }} img">
            <h2 id="font2">{{ race }}</h2>
            <input type="radio" name="race" value="{{ race }}" 
            {% if forloop.first %}required{% endif %}/>
            <br>
        </label>
        {% endfor %}

        <!-- haz lo mismo que con el de arriba -->
        <!-- este no es requerido. Si no pones nada, se coloca la raza, 
            por ejemplo si quieres ser una rata simple -->
        <h2>3. Choose it's class</h2>
        {% for class in classes %}
        <label>
            <br>
            <img height=50 src="media/entity/icons/default/{{class}}.png" alt="{{ race }} img">
            <h2 id="font2">{{ class }}</h2>
            <input type="radio" name="class" value="{{ class }}"/>
            <br>
        </label>
        {% endfor %}

        <!-- haz lo mismo que con el de arriba -->
        <h2>4. Choose it's weapon</h2>
        {% for weapon in weapons %}
        <br>
        <h2 id="font2">name: {{weapon.name}}</h2>
        <h2 id="font2">image.url: <img height=50 src="{{weapon.image.url}}" alt="{{weapon.name}} image"></h2>
        <h2 id="font2">weapon_type: {{weapon.weapon_type}}</h2>
        <h2 id="font2">is_ranged: {{weapon.is_ranged}}</h2>
        <h2 id="font2">damage_type: {{weapon.damage_type}}</h2>
        <h2 id="font2">damage: {{weapon.damage}}</h2>
        <h2 id="font2">range: {{weapon.range}}</h2>
        <br>
        {% endfor %}

        <!-- al final te debe de dejar seleccionar entre si quieres la imagen de la raza, o de la clase -->
        <!-- o si quiere que se seleccione una autogenerada (ahorita meto eso desde views), o montar una propia -->

        <!--
            cosas que necesito:

            'name'
            'physical_description'
            'weapon_id'
            'max_health'
            'str'
            'int'
            'rec'
            'dex'
            'phyres'
            'magres'
            'con'
            'gift'
            'story'
            'race'
            'class'
            'icon'
        -->

        <h2>5. That's all!</h2>
        <input type="hidden" name="create_player" value="True">
        <input class="btnSubmit" id="font1" type="submit" value="Create player!" onclick="loading('Creating player','playerselection','playerinfo')">

{% endblock content %}