{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/playercreation.css' %}" type="text/css" />
{% endblock css %}

{% block content %}
    <!-- no tienes que crear body, ya está definido en la template -->
    <div id="overlay">
        <div id="loading-popup">
            <p>Creating new player...</p>
        </div>
    </div>
    <div style="text-align: center;">
        <h1>Player Creation</h1>
        <h4>How's the hero who will save the world?</h4>
    </div>

    <br>

    <form action="{% url 'playerSelection' %}" method="post" id="playerinfo">
        {% csrf_token %}
    
        <h2>1. Choose your name:</h2>
        <input class="textInput" id="font2" type="text" name="name" placeholder="Write the name of your player." required>

        <!-- 
        cuadro rojo redondeado, con hover, se pueden poner muchos en la misma fila 
        quién sabe cómo lo harás, pero se pueden ver muy pequeños si quieres
        ojalá no se vea el circulo de selección, pero si se ve, no importa
        pensaba en si se podía poner un borde rojo alrededor del cuadro seleccionado, pero no sé si se puede
        -->
        <h2>2. Choose your race:</h2>
        <div class="itemList">
        {% for race in races %}
        <div class="listItem" onclick="selectRace(event)">
            <img height=50 src="media/entity/icons/default/{{race|lower}}.png" alt="{{ race }} img">
            <h2 id="font2">{{ race }}</h2>
            <input type="radio" name="race" value="{{ race }}" 
            {% if forloop.first %}required{% endif %}/>
        </div>
        {% endfor %}
        </div>

        <!-- haz lo mismo que con el de arriba -->
        <!-- este no es requerido. Si no pones nada, se coloca la raza, 
            por ejemplo si quieres ser una rata simple -->
        <h2>3. Choose your class:</h2>
        <div class="itemList">
            {% for class in classes %}
            <div class="listItem" onclick="selectItem(event)">
                <img height=50 src="media/entity/icons/default/{{class|lower}}.png" alt="{{ class }} img">
                <h2 id="font2">{{ class }}</h2>
                <input type="radio" name="class" value="{{ class }}"/>
            </div>
            {% endfor %}
        </div>

        <!-- haz lo mismo que con el de arriba -->
        <h2>4. Choose your weapon:</h2>
        <div class="weaponList">
            {% for weapon in weapons %}
            <div class="listWeapon" onclick="selectWeapon(event)">
                <h2 id="font2">name: {{weapon.name}}</h2>
                <h2 id="font2">image: <img height=50 src="{{weapon.image.url}}" alt="{{weapon.name}} image"></h2>
                <h2 id="font2">is_ranged: {{weapon.is_ranged}}</h2>
                <h2 id="font2">damage_type: {{weapon.damage_type}}</h2>
                <h2 id="font2">damage: {{weapon.damage}}</h2>
                <h2 id="font2">range: {{weapon.range}}</h2>
                <input type="radio" name="weapon_id" value="{{ weapon.id }}"/>
            </div>
            {% endfor %}
        </div>

        <!--
            'stat limit'
        -->
        
        <h2>5. Choose your stats:</h2>

        <div class="statsList">
            <div class="statItem">
                <h2 id="font2">VITALITY</h2>
                <div>
                    <input type="number" name="vitality" value="1" min="1" id="font2">
                </div>
            </div>
            <div class="statItem">
                <h2 id="font2">STR</h2>
                <div>
                    <input type="number" name="str" value="1" min="1" id="font2">
                </div>
            </div>
            <div class="statItem">
                <h2 id="font2">INT</h2>
                <div>
                    <input type="number" name="int" value="1" min="1" id="font2">
                </div>
            </div>
            <div class="statItem">
                <h2 id="font2">DEX</h2>
                <div>
                    <input type="number" name="dex" value="1" min="1" id="font2">
                </div>
            </div>
            <div class="statItem">
                <h2 id="font2">P_RES</h2>
                <div>
                    <input type="number" name="phyres" value="1" min="1" id="font2">
                </div>
            </div>
            <div class="statItem">
                <h2 id="font2">M_RES</h2>
                <div>
                    <input type="number" name="magres" value="1" min="1" id="font2">
                </div>
            </div>
        </div>

        <h2>6. Describe your character:</h2>
        <input class="textInput" id="font2" type="text" name="physical_description" placeholder="Describe everything." required>

        <h2>7. Select a gift from the gods:</h2>
        <div class="weaponList">
            <div class="listWeapon" onclick="selectGift(event)">
                <h2 id="font2">GOLD x50</h2>
                <input type="radio" name="gift" value="gold"/>
            </div>
            <div class="listWeapon" onclick="selectGift(event)">
                <h2 id="font2">GO BACK BONE x5</h2>
                <input type="radio" name="gift" value="go back bone"/>
            </div>
            <div class="listWeapon" onclick="selectGift(event)">
                <h2 id="font2">HEALTH POTION x5</h2>
                <input type="radio" name="gift" value="health potion"/>
            </div>
            <div class="listWeapon" onclick="selectGift(event)">
                <h2 id="font2">KEYS x5</h2>
                <input type="radio" name="gift" value="key"/>
            </div>
        <div>

        <h2>8. What's yout story:</h2>
        <input class="textInput" id="font2" type="text" name="story" placeholder="Once upon a time." required>
        
        <h2>9. That's all!</h2>
        <input type="hidden" name="create_player" value="True">
        <input type="hidden" name="campaign_id" value="{{campaign_id}}">
        <input class="btnSubmit" id="font1" type="submit" value="Create player!" onclick="loading('Creating player','playerselection','playerinfo')">
    </form>

    <script src="{% static 'js/selectType.js' %}"></script>
{% endblock content %}
