<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD AI</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Sixtyfour&family=Workbench&display=swap"
        rel="stylesheet">
</head>

<form action="{% url 'home' %}" method="post">
    {% csrf_token %}
    <input type="text" name="player_name" placeholder="Player Name">
    <input type="checkbox" id="test" name="test" checked>
    <input type="checkbox" id="dice_needed" name="dice_needed">

    <input type="submit" value="Submit">
</form>

<!--                GETS                  -->
<h1>GETS</h1>
<h3>
    <ul>
        <li>Dice value:  {{dice_value}}</li>
        <li>Dice needed: {{dice_needed}}</li>
        <li>Player name (Sent): {{player_name_sent}}</li>
        <li>Player name (Rcvd): {{player.name}}</li>
        <li>Characters: {{characters.count}}</li>
        <ul>
            <li>Playable: {{players.count}}</li>
        </ul>
        <li>Monsters: {{monsters.count}}</li>
        <li>Weapons: {{weapons.count}}</li>
        
    </ul>
</h3>


<!--                PLAYER                  -->

<br>
<h1>Player</h1>
<h3>{{player.name}}</h3>
<h5>{{player}}</h5>
<div>
    <h4>
        Player Image: 
        <img src="{{player.image.url}}" width="150" height="150">
        URL: {{player.image.url}}
    </h4>
</div>
<div>
    <h4>
        Player Map Icon:
        <img src="{{player.icon.url}}" width="30" height="30">
        URL: {{player.icon.url}}
    </h4>
</div>

<br>
<h3>INFO</h3>
<h5>
    <ul>
        <li>Player ID:          {{player.id}}</li>
        <li>Is Playable:        {{player.is_playable}}</li>
        <li>Name:               {{player.name}}</li>
        <li>Character Race:     {{player.character_race}}</li>
        <li>Character Class:    {{player.character_class}}</li>
        <li>Weapon:             {{player.weapon}}</li>
        <li>Got Initial Weapon: {{player.got_initial_weapon}}</li>
    </ul>
</h5>


<br>
<h3>STATS</h3>
<h5>
    <ul>
        <li>HP:     {{player.health}}</li>
        <li>Max HP: {{player.max_health}}</li>
        <li>STR:    {{player.strength}}</li>
        <li>INT:    {{player.intelligence}}</li>
        <li>DEX:    {{player.dexterity}}</li>
        <li>P-RES:  {{player.physical_resistance}}</li>
        <li>M-RES:  {{player.magical_resistance}}</li>
        <li>CON:    {{player.constitution}}</li>
        <li>LVL:    {{player.level}}</li>
        <li>EXP:    {{player.exp}}</li>
        <li>EXP TOP: {{player.exp_top}}</li>
    </ul>
</h5>

<br>
<h3>PLAYER'S WEAPON</h3>
<h5>{{player.weapon.name}}</h5>
<h5>{{player.weapon}}</h5>
<div>
    <h5>
        Weapon Image: 
        <img src="{{player.weapon.image.url}}" width="150" height="150">
        URL: {{player.image.url}}
    </h5>
</div>
<h5>
    <ul>
        <li>ID:             {{player.weapon.id}}</li>
        <li>Name:           {{player.weapon.name}}</li>
        <li>Is Template:    {{player.weapon.is_template}}</li>
        <li>Is Ranged:      {{player.weapon.is_ranged}}</li>
        <li>Weapon Type:    {{player.weapon.weapon_type}}</li>
        <li>Damage Type:    {{player.weapon.damage_type}}</li>
        <li>Description:    {{player.weapon.physical_description}}</li>
        <li>Image:          {{player.weapon.image}}</li>
        <li>Damage:         {{player.weapon.damage}}</li>
        <li>Range:          {{player.weapon.range}}</li>
        <li>Range LVLPoints: {{player.weapon.range_level_points}}</li>
        <li>Durability:     {{player.weapon.durability}}</li>
        <li>Level:          {{player.weapon.level}}</li>
    </ul>
</h5>
